---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import profile from '/logo.png'
 
const { blok } = Astro.props
---
<div {...storyblokEditable(blok)}>
  <div class="w-fit ">

<div class="p-4 flex flex-col ">
    <div class="py-4 ">
           <h1 class="text-[12px] text-[#666666] bg-travel w-fit h-fit p-0.5 " >{blok.Travel}</h1>
    </div>
    <div class="md:w-[334px] w-fit px-5 min-h-[76px] ">
          <h1 class=" text-2xl font-semibold capitalize">{blok.Heading}</h1>
    </div>
    <div class="py-4  ">
        
            <img src={blok.Image.filename} class="md:h-[229px] md:w-[401px] w-fit  max-h-[201px]"></img>
       
    </div>
    <div class="flex flex-row pb-3 text-[#777777] items-center text-[12px] gap-x-5"> 
         <div class="flex flex-row"> 
            <img src={blok.Profile.filename} ></img>    
        <p class="text-[#777777]">{blok.Name}</p>
         </div>
        <p class="text-[14px]">|</p>
        <div class="flex flex-row gap-2 items-center">
          <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.4 5.4H3.6V6.6H2.4V5.4ZM10.8 2.4V10.8C10.8 11.46 10.26 12 9.6 12H1.2C0.88174 12 0.576515 11.8736 0.351472 11.6485C0.126428 11.4235 0 11.1183 0 10.8L0.00599999 2.4C0.00599999 1.74 0.534 1.2 1.2 1.2H1.8V0H3V1.2H7.8V0H9V1.2H9.6C10.26 1.2 10.8 1.74 10.8 2.4ZM1.2 3.6H9.6V2.4H1.2V3.6ZM9.6 10.8V4.8H1.2V10.8H9.6ZM7.2 6.6H8.4V5.4H7.2V6.6ZM4.8 6.6H6V5.4H4.8V6.6Z" fill="#555555"/>
            </svg>
            <p>{blok.Date}</p>              
        </div>
        <p class="text-[14px]">|</p>
        <div class="flex flex-row gap-2 items-center">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 0C2.6916 0 0 2.6916 0 6C0 9.3084 2.6916 12 6 12C9.3084 12 12 9.3084 12 6C12 2.6916 9.3084 0 6 0ZM6 10.8C3.3534 10.8 1.2 8.6466 1.2 6C1.2 3.3534 3.3534 1.2 6 1.2C8.6466 1.2 10.8 3.3534 10.8 6C10.8 8.6466 8.6466 10.8 6 10.8Z" fill="#555555"/>
            <path d="M6.60002 3H5.40002V6.2484L7.37582 8.2242L8.22422 7.3758L6.60002 5.7516V3Z" fill="#555555"/>
            </svg>              
            <p>{blok.ReadTime}</p>              
        </div>
    </div>
    <div class="w-fit">
    <h1 class="md:w-[401px] text-[#555555] ">{blok.Description}</h1>
    </div>
</div>

</div>
</div>